* {
    padding: 0;
    margin: 0;
    border: 0;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

#name {
    font-size: xx-large;
    color: black;
    font-family: cursive;
}

#link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1000px;
}

#link ul {
    display: flex;
    gap: 20px;
    padding: 0;
}

#link ul li {
    list-style: none;
}

#link ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 8px 12px;
}

#link ul li a:hover {
    color: white;
}
